/* Reset some default styles */
body {
    margin: 0;
    font-family: sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Profile section styles */
#profile {
    text-align: center;
}

#profile img {
    max-width: 150px;
    border-radius: 50%;
}

/* Links section styles */
#links {
    margin-top: 20px;
}

/* Nested lists section styles */
#nested-lists {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.hobbies,
.interests{
    margin: auto;
    display: block;
    width: 25%;
}

.education,
.job-history {
    flex: 1;
    padding: 10px;
}
li {
    padding: 4px;
}
/* Quote section styles */
.quote {
    background-color: #ffd700; /* Gold color */
    text-align: center;
    padding: 10px;
}

/* External links section styles */
#external-links ul {
    list-style-type: none;
    padding: 0;
}

#external-links ul li {
    margin-bottom: 10px;
}

/* Hover effect on links */
a:hover {
    color: #ff5733; /* Change to the color of your choice */
}

/* Style the text with "Georgia State, Computer Science, and 2 more words of your choice" in red and bold */
span {
    color: red;
    font-weight: bold;
}
.table {
    margin: 20px auto;
    
}

th,
td {
    text-align: left;
    padding: 16px;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}
ol li {
    font-size: 17px !important;
}
